
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <title>Access Denied</title>
</head>
<body>
    <hr class="w-100 " style="height: 5em; background: repeating-linear-gradient(6deg, #f50505,#2a4466 177px,transparent 1177px)" />
    <div class="card">
        <div class=" row justify-content-center card-title">
            <div class="col-md-1 center" >
                <h5 class="">Do Mock Exam</h5>
            </div>
        <div class="col-md-8 text-center card-body">
        <h2 class="card-header">Opps !</h2>
            <p class="align-middle">
                It seems that you don't have access to this page.  Please contact admin for more information.
            </p>
            </div>
        </div>
    </div>
    <style>
        .center {
            margin: 0px 0 58px 0;
            border: 10px groove #c84fc8;
            border-radius: 13px 0px 37px 7px;
        }
    </style>
</body>

</html>
