
@{
    ViewData["Title"] = "Forgot Password Confirmation";
    Layout = "_Layout_Login";
}

<section class="testimonial py-5" id="testimonial">
    <div class="container">
        <div class="row  registration-block">
            <div class="col-md-8 ">
                <div class="row">

                    <div class="student-reg">
                        <div class="stu-heading">
                            <h4 class="pb-4 heading-font">Password reset</h4>
                        </div>
                        <p>If we have your email with us, you will get a password reset link shortly.</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>


