
@{
    ViewData["Title"] = "RegisterationConfirmation";
    Layout = "_Layout_Login";
}

<section class="testimonial py-5" id="testimonial">
<div class="container">
    <div class="row  registration-block">
        <div class="col-md-4 py-5 bg-primary text-white text-center  blue-bg ">
            <div class=" ">
                <div class="card-body">
                    <img src="http://www.ansonika.com/mavia/img/registration_bg.svg" style="width:30%">
                    <h2 class="py-3">Registration</h2>
                    <p>
                        Success !!! Your registration will be validated shortly. Once your account is activated, you will notified via the email that you furnished
                        during the registartion.

                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-8 ">
            <div class="row">

                <div class="student-reg">
                    <div class="stu-heading">
                        <h4 class="pb-4 heading-font">Registration Form</h4>
                    </div>
                   
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="form-content">
                            <div class="row">
                                Thank you for registering with us.  We have send a link to confirm your email id.  Please open your inbox and click on the link to confirm.
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>


