
@{
    ViewData["Title"] = "RegisterationConfirmation";
    Layout = "_Layout_Login";
}

<h1>Registeration Confirmation</h1>
<div class="container">
    Thank you for registering with us.  We have send a link to confirm your email id.  Please open your inbox and click on the link to confirm.
</div>

