@model Learning.ViewModel.Account.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password Confirmation";
}
@{ var message = ViewData["message"];}
<h1>Reset Password Confirmation</h1>

<h4 class="@(message==null?"text-success":"text-error")">@(message==null? "Success !!!":"Failed !!!")</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        @if (message == null)
        {


            <p>You have reset your password successfully.</p>
        }
        else
        {
            @message.ToString();
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

