@model Learning.ViewModel.Account.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}

<h1>Reset Password</h1>

<h4>Enter your new password.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Reset" class="btn btn-primary" />
            </div>
            @Html.HiddenFor(l=>l.Token)
            @Html.HiddenFor(l=>l.Email)
        </form>
    </div>
</div>


