
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>:: Education ::</title>

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/style_student.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="~/js/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

    <script src="/lib/jquery/dist/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.16.0/standard-all/ckeditor.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>






</head>

<body>

    <!-- whole body -->
    <!-- sidebar-wrapper  -->
    <main class="page-content">
        @RenderBody()
        <div class="container-fluid tutor-orange-bg">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div id="tabs" class="project-tab tab-new-pro">
                        <div class="">
                            <div class="row">
                                <div class="col-md-12">

                                    <div id="tabs">
                                        <ul>
                                            <li>
                                                <a href="#tabs-0">Chemistry</a>
                                            </li>
                                            <li>
                                                <a href="#tabs-1">Physics</a>

                                            </li>
                                            <li>
                                                <a href="#tabs-2">Biology</a>

                                            </li>
                                            <li>
                                                <a href="#tabs-3">English</a>

                                            </li>
                                        </ul>
                                        <div id="tabs-0">
                                            

                                            <div class="row">

                                                <div class="col-md-9 col-sm-12  col-xs-12">
                                                    <div class="col-md-12 col-sm-12 col-xs-12 heading-qus">
                                                        <div class="row">

                                                            <div class="col-md-12 col-sm-12 col-xs-12">

                                                            </div>
                                                            <div class="col-md-7 col-sm-12 col-xs-12 qus-heading">Q1. Single Choice Question</div>
                                                            <div class="col-md-5 col-sm-12 col-xs-12 qus-heading"><i class="fa fa-flag" aria-hidden="true"></i> Review the paper</div>
                                                        </div>
                                                    </div>

                                                    <div id="main">
                                                        <b>Instructions:</b>
                                                        <p>All questions are compulsory.</p>
                                                        <p>No negative marks.</p>
                                                        <p>You can't submit the question paper beyond the time duration.</p>
                                                    </div>
                                                    <nav aria-label="Page navigation example">
                                                        <ul class="pagination justify-content-end">
                                                            <li class="page-item page-item-prev disabled">
                                                                <button type="button" class="page-link" tabindex="-1" id="prev" onclick="processQuestion(this)">Previous</button>
                                                            </li>

                                                            <li class="page-item page-item-next">
                                                                <button type="button" class="page-link" id="next" onclick="processQuestion(this)" >Next</button>
                                                            </li>
                                                        </ul>
                                                    </nav>

                                                </div>


                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 question-number-block">

                                                    <div class="formBox">
                                                        <form>

                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="timer ">
                                                                        <label class="">
                                                                            <span class="hours" id="hour"></span>: <span class="minutes" id="minute"></span>:<span class="seconds" id="second"></span>

                                                                        </label>
                                                                        @*<div>
                                        <span class="hours" id="hour"></span>
                                        <div class="smalltext">Hours</div>
                                    </div>
                                    <div>
                                        <span class="minutes" id="minute"></span>
                                        <div class="smalltext">Minutes</div>
                                    </div>
                                    <div>
                                        <span class="seconds" id="second"></span>
                                        <div class="smalltext">Seconds</div>
                                    </div>*@
                                                                        <p id="time-up"></p>
                                                                    </div>
                                                                    <h1>Details</h1>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class=" ">
                                                                        <label type="text" class="col-form-label">Ravi .K</label>

                                                                    </div>
                                                                </div>


                                                            </div>

                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="inputBox ">
                                                                        <label type="text" placeholder="Exam Duration" class="col-form-label">Duration: 30:00</label>

                                                                    </div>
                                                                </div>


                                                            </div>

                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="inputBox ">
                                                                        <label class="label">Total No.Of Questions 30</label>

                                                                    </div>
                                                                </div>

                                                                <div class="col-sm-12">
                                                                    <div class="inputBox ">
                                                                        <label class="label">Minimum No. Of Questions To Attempt 30</label>

                                                                    </div>
                                                                </div>
                                                            </div>



                                                            <!--<div class="row">
                        <div class="col-sm-12">
                            <input type="submit" name="" class="button" value="Send Message">
                        </div>
                    </div>-->
                                                        </form>
                                                    </div>
                                                    <p class="sub-name">Physics (25)</p>

                                                    <table border="0" align="center">
                                                        <tr>
                                                            <td>
                                                                <ol class="number-display">
                                                                    <li class="rounded-circle number-feature green-bg-number">1</li>
                                                                    <li class="rounded-circle number-feature">2</li>
                                                                    <li class="rounded-circle number-feature">3</li>
                                                                    <li class="rounded-circle number-feature">4</li>
                                                                    <li class="rounded-circle number-feature">5</li>
                                                                    <li class="rounded-circle number-feature">6</li>


                                                                </ol>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <ol class="number-display">
                                                                    <li class="rounded-circle number-feature">7</li>
                                                                    <li class="rounded-circle number-feature">8</li>
                                                                    <li class="rounded-circle number-feature">9</li>
                                                                    <li class="rounded-circle number-feature">10</li>
                                                                    <li class="rounded-circle number-feature">11</li>
                                                                    <li class="rounded-circle number-feature">12</li>


                                                                </ol>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <ol class="number-display">
                                                                    <li class="rounded-circle number-feature">13</li>
                                                                    <li class="rounded-circle number-feature">14</li>
                                                                    <li class="rounded-circle number-feature">15</li>
                                                                    <li class="rounded-circle number-feature">16</li>
                                                                    <li class="rounded-circle number-feature">17</li>
                                                                    <li class="rounded-circle number-feature">18</li>


                                                                </ol>
                                                            </td>
                                                        </tr>


                                                        <tr>
                                                            <td>
                                                                <ol class="number-display">
                                                                    <li class="rounded-circle number-feature">19</li>
                                                                    <li class="rounded-circle number-feature">20</li>
                                                                    <li class="rounded-circle number-feature">21</li>
                                                                    <li class="rounded-circle number-feature">22</li>
                                                                    <li class="rounded-circle number-feature">23</li>
                                                                    <li class="rounded-circle number-feature">24</li>


                                                                </ol>
                                                            </td>
                                                        </tr>
                                                    </table>


                                                    <hr>
                                                    <p class="leg-sta">LEGENDS AND STATS</p>
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-6 col-xs-12 green-red-gap"><p class="rounded-circle number-feature green-bg-number-done">50 <span>Answered</span></p></div>
                                                            <div class="col-md-6 col-sm-6 col-xs-12 green-red-gap"> <p class="rounded-circle number-feature red-bg-number-notdone">18 <span>Not Answered</span></p></div>

                                                        </div>

                                                    </div>

                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-6 col-xs-12 green-red-gap"><p class="rounded-circle number-feature not-visited">50 <span>Not Visited</span></p></div>
                                                            <div class="col-md-6 col-sm-6 col-xs-12 green-red-gap"> <p class="rounded-circle number-feature for-review">18 <span>Marked Review</span></p></div>

                                                        </div>

                                                    </div>




                                                </div>
                                            </div>
                                            <!-- /*............ single choice question.....................*/-->
                                                    <div class="sub-0 col-md-12 col-sm-12 col-xs-12 qus-white-area">
                                                        <div class="col-md-6 col-sm-12 col-xs-12 qus-spec">
                                                            The Current <em>i</em> in the network is:
                                                            <p><img src="images/diagram.png" width="169" height="166" alt="" class="img-fluid" /></p>



                                                        </div>
                                                    </div>
                                            </div>

                                            <!-- /*............ end single choice question.....................*/-->
                                            <!-- /*............ Multiple choice question.....................*/-->
                                            <div class="row">
                                                <div class="col-md-8 col-sm-12  col-xs-12">

                                                    <div class="sub-1 col-md-12 col-sm-12 col-xs-12 qus-white-area">
                                                        <div class="col-md-6 col-sm-12 col-xs-12 qus-spec">
                                                            The Current <em>i</em> in the network is:
                                                            <p><img src="images/diagram.png" width="169" height="166" alt="" class="img-fluid" /></p>



                                                        </div>

                                                        <div class="col-md-12 col-sm-12 col-xs-12">

                                                            <div class="">
                                                                <div class="funkyradio-default radio-class">
                                                                    <input type="checkbox" name="checkbox" id="checkbox1" checked />
                                                                    <label for="checkbox1"><span class="a-number">A.</span> 0.2A</label>
                                                                </div>
                                                                <div class="funkyradio-primary radio-class">
                                                                    <input type="checkbox" name="checkbox" id="checkbox2" checked />
                                                                    <label for="checkbox2"><span class="a-number">B.</span> 0.4A</label>
                                                                </div>
                                                                <div class="funkyradio-success radio-class">
                                                                    <input type="checkbox" name="checkbox" id="checkbox3" checked />
                                                                    <label for="checkbox3"><span class="a-number">C.</span> 0.13A</label>
                                                                </div>
                                                                <div class="funkyradio-danger radio-class">
                                                                    <input type="checkbox" name="checkbox" id="checkbox4" checked />
                                                                    <label for="checkbox4"><span class="a-number">D.</span> 0.6A</label>
                                                                </div>


                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                            <!-- /*............ end Multiple choice question.....................*/-->
                                            <!-- /*............ descriptive question question.....................*/-->
                                           

                                                    <div class="sub-2 col-md-12 col-sm-12 col-xs-12 qus-white-area">
                                                        <div class="col-md-6 col-sm-12 col-xs-12 qus-spec">
                                                            The Current <em>i</em> in the network is:
                                                            <p><img src="images/diagram.png" width="169" height="166" alt="" class="img-fluid" /></p>



                                                        </div>

                                                        <div class="col-md-12 col-sm-12 col-xs-12">

                                                            <textarea placeholder="Give Your Answer Here!" cols="80" rows="5"></textarea>
                                                        </div>

                                                    </div>
                                               
                                            <!-- /*............ end descriptive question.....................*/-->
                                            <!-- /*............ Fill in the blank question.....................*/-->
                                          

                                                    <div class="sub-3 col-md-12 col-sm-12 col-xs-12 qus-white-area">
                                                        <div class="col-md-6 col-sm-12 col-xs-12 qus-spec">
                                                            The Current <em>i</em> in the network is:
                                                            <p><img src="images/diagram.png" width="169" height="166" alt="" class="img-fluid" /></p>



                                                        </div>

                                                        <div class="col-md-12 col-sm-12 col-xs-12">

                                                            <p>Question Goes here</p>
                                                            <p>Answer Here <input type="text" placeholder="give answer here"> Here</p>
                                                            <ul>
                                                                <li>a. First Answer</li>
                                                                <li>b. Second Answer</li>
                                                                <li>c. Third Answer</li>

                                                            </ul>
                                                        </div>

                                                    </div>
                                               
                                            <!-- /*............ Fill in the blank question.....................*/-->
                                            <!-- /*............ Fill in the blank question.....................*/-->
                                         

                                                    <div class="sub-4 col-md-12 col-sm-12 col-xs-12 qus-white-area">
                                                        <div class="col-md-6 col-sm-12 col-xs-12 qus-spec">
                                                            The Current <em>i</em> in the network is:
                                                            <p><img src="images/diagram.png" width="169" height="166" alt="" class="img-fluid" /></p>



                                                        </div>

                                                        <div class="col-md-12 col-sm-12 col-xs-12">


                                                            <div id="div10">
                                                                <p id="p1">This is a paragraph.</p>

                                                                <p><input type="text" placeholder="Your Answer"></p>
                                                            </div>
                                                        </div>

                                                    </div>
                                               
                                            <!-- /*............ One Word question.....................*/-->

                                            <input type="submit" value="next" class="submit" />
                                        </div>
                                        <div id="tabs-1">
                                            <b>city</b>

                                            <input type="text" id="name" />
                                            <br /> <b>state</b>

                                            <input type="text" id="age" />
                                            <br />
                                            <input type="submit" value="next" class="submit" />
                                        </div>
                                        <div id="tabs-2">
                                            <p>Tab3</p>
                                        </div>
                                        <div id="tabs-3">
                                            <p>Tab4</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
    <!-- page-content" -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"></script>

    <script>

	jQuery(function ($) {

    $(".sidebar-dropdown > a").click(function() {
  $(".sidebar-submenu").slideUp(200);
  if (
    $(this)
      .parent()
      .hasClass("active")
  ) {
    $(".sidebar-dropdown").removeClass("active");
    $(this)
      .parent()
      .removeClass("active");
  } else {
    $(".sidebar-dropdown").removeClass("active");
    $(this)
      .next(".sidebar-submenu")
      .slideDown(200);
    $(this)
      .parent()
      .addClass("active");
  }
});

$("#close-sidebar").click(function() {
  $(".page-wrapper").removeClass("toggled");
});
$("#show-sidebar").click(function() {
  $(".page-wrapper").addClass("toggled");
});




});
    </script>

    <script>
    // We need to turn off the automatic editor creation first.
    CKEDITOR.disableAutoInline = true;

    CKEDITOR.replace('editor1');
    </script>

    <!--<script>

        $('#radioBtn a').on('click', function(){
        var sel = $(this).data('title');
        var tog = $(this).data('toggle');
        $('#'+tog).prop('value', sel);

        $('a[data-toggle="'+tog+'"]').not('[data-title="'+sel+'"]').removeClass('active').addClass('notActive');
        $('a[data-toggle="'+tog+'"][data-title="'+sel+'"]').removeClass('notActive').addClass('active');
    })
        </script>-->

    <script>

	$('.btnNext').click(function(){
  $('.nav-tabs > .active').next('li').find('a').trigger('click');
});

  $('.btnPrevious').click(function(){
  $('.nav-tabs > .active').prev('li').find('a').trigger('click');
});
    </script>

    <script>

	var deadline = new Date("july 30, 2021 15:37:25").getTime();
var x = setInterval(function() {
   var currentTime = new Date().getTime();
   var t = deadline - currentTime;
   var days = Math.floor(t / (1000 * 60 * 60 * 24));
   var hours = Math.floor((t%(1000 * 60 * 60 * 24))/(1000 * 60 * 60));
   var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
   var seconds = Math.floor((t % (1000 * 60)) / 1000);
   //document.getElementById("day").innerHTML =days ;
   document.getElementById("hour").innerHTML =hours;
   document.getElementById("minute").innerHTML = minutes;
   document.getElementById("second").innerHTML =seconds;
   if (t < 0) {
      clearInterval(x);
      document.getElementById("time-up").innerHTML = "TIME UP";
      //document.getElementById("day").innerHTML ='0';
      document.getElementById("hour").innerHTML ='0';
      document.getElementById("minute").innerHTML ='0' ;
      document.getElementById("second").innerHTML = '0';
   }
}, 1000);

    </script>

    <script>

	function allowDrop(ev){
        ev.preventDefault();
      }
      function drag(ev){
        ev.dataTransfer.setData("Text",ev.target.id);
      }
      function drop(ev){
        ev.preventDefault();
        var data=ev.dataTransfer.getData("Text");
        ev.target.parentNode.replaceChild(document.getElementById(data), ev.target);
        document.getElementById(data).className = "";
      }
    </script>

    <script>

	$(function () {
    $("#tabs").tabs();
    $("#tabs").tabs("option", {
        "selected": 0,
            "disabled": [1, 2, 3]
    });

    $('.submit').click(function () {
        if($('#name').val()=='')
        {
            alert("empty");
        }
        else
        {
        var nexttab = parseInt($(this).parent().next().attr('id').match(/\d+/g), 10);
        $('#tabs').tabs("enable", nexttab).tabs("select", nexttab);
        $('input[name="tabs-'+nexttab+'"]').removeAttr('disabled').prop('checked', true);
        }
    });


    $("input[type=checkbox]").click(function () {
        if ($(this).is(':checked')) {
            $('#tabs').tabs("enable", $(this).val());
        } else {
            $('#tabs').tabs("disable", $(this).val());
            var tab = $(this);
            $(":checked").each(function (index) {
                $('#tabs').tabs("select", $(this).val());
            });
        }
    });
});
    </script>
</body>

</html>
