<footer class="footer-gap" id="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="col-md-7"><p><img src="/images/footer.png" width="184" height="43" alt="" /></p></div><p class="footer-text">
                    Studious is the online education platform specialising in mock test preparation for Studious students.

                    We are passionate experts in online education. Our services include online exams, the Studious shop and Studious tuition.

                    Our products are designed to prepare students for a variety of Grammar School and Independent School examinations.
                </p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <h5 class="news">Quick Links</h5>

                <ul class="list-unstyled quick-links">
                    <li><a href="/Home/Index"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>About</a></li>
                    <li><a href="/Account/Login"><i class="fa fa-angle-double-right"></i>Parent Login</a></li>
                    <li><a href="/Tutor/Dashboard"><i class="fa fa-angle-double-right"></i>Tutor Login</a></li>
                    <li><a href="/admin"><i class="fa fa-angle-double-right"></i>Admin</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <h5 class="news">Newsletter</h5><p class="footer-text">
                    Get all the latest information on events, sales and offers.
                    Sign up for newsletter today.
                </p><p><input type="button" value="Subscribe" class="subscribe"></p>
            </div>

            <!-- <div class="col-md-12 col-sm-12 col-xs-12"><h5 class="news">Payment Partners</h5><p><img src="images/payment.png" width="295" height="108" alt="" class="img-fluid"/>
             </p></div> -->


        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h5 class="news">Payment Partners</h5>
                <img src="/images/payment.png" width="295" height="108" alt="" class="img-fluid2" />
            </div>
            <hr>
        </div>

    </div>

</footer>