
@{
    ViewData["Title"] = "CreateSection";
    Layout = "~/Views/Shared/_Layout_Tutor.cshtml";
}

<main class="page-content">
    <div class="container-fluid tutor-orange-bg">
        <h1>Create Section</h1>
        <div class="col-md-12 col-sm-12 col-xs-12 white-bg">
            <div class="row justify-content-center">
                @{await Html.RenderPartialAsync("PartialTestSection");}
                
                </div>
            </div>
        </div>
    </main>
@section Scripts{ 
<script>
    $('#TestId').change(ev => {
        $('#Id').val($(ev.currentTarget).val());
    })
</script>
}
