
@{
    ViewData["Title"] = "Exams";
    Layout = "~/Views/Shared/_Layout_Tutor.cshtml";
}

<main class="page-content">
    <div class="container-fluid tutor-orange-bg">
        <h1>Exams</h1>
        <div class="col-md-12 col-sm-12 col-xs-12 white-bg">
            <div class="row justify-content-center" id="tblExams">
               
            </div>
            </div>
        </div>
</main>
@section Scripts{
    <script>
        $(document).ready(function () {
            initLoader();
            getdata('Partial_Exams', null, 'html').done(res => {
                $('#tblExams').empty().append(res);
                initDataTable('#examtable')
                removeLoader();
                $('#modalConfirm #btnDelete').data('');
            });
            removeLoader();
           
               
        });
        function setexamactive(cnt) {
            insertdata('/Tutor/SetExamIsPublished', { examid: cnt.id, isChecked: $(cnt).is(':checked') }).done(res => {
                if (res > 0) {
                    notify('Test status updated successfully !!!', 'success')
                }
            })
        }
    </script>
}
