

    <div class="container-fluid tutor-orange-bg">
        <div class="col-md-12 col-sm-12 col-xs-12 white-bg">
            <h1 class="tutor-name">Hello, Jhon Smith</h1>
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <p class="tutor-profile-lines">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec eros ac velit porta fringilla quis non tellus. Quisque a porta est. Vestibulum sed libero quis massa malesuada volutpat id sed eros.</p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <img src="images/pic.png" width="248" height="119" alt="" />
                </div>
            </div>
        </div>
        <!-- three blocks -->


        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                            <img src="https://www.orioninfosolutions.com/assets/img/icon/Agricultural-activities.png" width="68px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>83%</h4>
                            <p>Your Profile is 83% complete.</p>
                            <p>Update Profile <a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                            <img src="https://www.orioninfosolutions.com/assets/img/icon/Agricultural-activities.png" width="68px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>Verify</h4>
                            <p>You need to Address Verify</p>
                            <p>Verification <a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <div class="our-services-wrapper mb-60">
                    <div class="services-inner">
                        <div class="our-services-img">
                            <img src="https://www.orioninfosolutions.com/assets/img/icon/Agricultural-activities.png" width="68px" alt="">
                        </div>
                        <div class="our-services-text">
                            <h4>1250</h4>
                            <p>Job Id:1234567           Dec2020</p>
                            <p>Pay Now <a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- notification and Latest course -->



        <div class="row">
            <div class="col-md-6 text-center">
                <div class="box services-inner">
                    <div class="box-content">
                        <h1 class="tag-title">Notifications</h1>

                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                                <i class="fa fa-envelope" aria-hidden="true"></i> Finished Exam
                                <p>4 hours hours</p>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-envelope" aria-hidden="true"></i> Absent for the exam.<p>4 hours hours</p></a>
                            <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-envelope" aria-hidden="true"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec eros ac velit porta fringilla quis non tellus.<p>4 hours hours</p></a>
                            <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-envelope" aria-hidden="true"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec eros ac velit porta fringilla quis non tellus.<p>4 hours hours</p></a>
                            <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-envelope" aria-hidden="true"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec eros ac velit porta fringilla quis non tellus.<p>4 hours hours</p></a>
                            <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-envelope" aria-hidden="true"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec eros ac velit porta fringilla quis non tellus.<p>4 hours hours</p></a>


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="box services-inner">
                    <div class="box-content">
                        <h1 class="tag-title"> Enrolled Test</h1>


                        <div class="row course-gap">
                            <div class="col-md-6">
                                <div class="card-content">
                                    <div class="card-img">
                                        <img src="images/course-image.png" width="380" height="230" alt="" /> <span><h4>Course name</h4></span>
                                    </div>
                                    <div class="card-desc">
                                        <h3>Course name</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                                            voluptas totam
                                        </p>
                                        <a href="#" class="btn-card">Read</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card-content">
                                    <div class="card-img">
                                        <img src="images/course-image.png" width="380" height="230" alt="" />
                                        <span><h4>Course name</h4></span>
                                    </div>
                                    <div class="card-desc">
                                        <h3>Course name</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                                            voluptas totam
                                        </p>
                                        <a href="#" class="btn-card">Read</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row course-gap">
                            <div class="col-md-6">
                                <div class="card-content">
                                    <div class="card-img">
                                        <img src="images/course-image.png" width="380" height="230" alt="" />
                                        <span><h4>Course name</h4></span>
                                    </div>
                                    <div class="card-desc">
                                        <h3>Course name</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                                            voluptas totam
                                        </p>
                                        <a href="#" class="btn-card">Read</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card-content">
                                    <div class="card-img">
                                        <img src="images/course-image.png" width="380" height="230" alt="" />
                                        <span><h4>Course name</h4></span>
                                    </div>
                                    <div class="card-desc">
                                        <h3>Course name</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                                            voluptas totam
                                        </p>
                                        <a href="#" class="btn-card">Read</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
