@model IEnumerable<Learning.Tutor.ViewModel.TestViewModel>

@{
    ViewData["Title"] = "Exams";
}
<main class="page-content">
    <div class="container-fluid tutor-orange-bg">
        <h1>Manage Exams</h1>
        <div class="col-md-12 col-sm-12 col-xs-12 white-bg">
        <div id="pnlExam"></div>
        </div>
        </div>
    </main>

<script>
    $(document).ready(doc => {
        initLoader();
        getdata('/ManageExams/Partial_Exams', null, 'html').done(function (res) {
            $('#pnlExam').append(res);
            $('#examtable').DataTable();
            removeLoader();
        });
    });
</script>
