
@{
    ViewData["Title"] = "Email Confirmation";
}

<h1>Email Confirmed</h1>
<div>
    @if (ViewData["message"].ToString() == string.Empty)
    {
        <div>Thank you confirming your email.Please <a href="/Account/Login"> click here</a> to login with your userid and password.</div>
    }
    else
    {
        <div>Email confirmation failed ! <p>@ViewData["message"].ToString()</p></div>
    }
</div>

