
@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<h1>Forgot Password Confirmation</h1>
<div class="container">
    <p>If we have your email with us, you will get a password reset link shortly.</p>
</div>

