<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>:: Education ::</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">

   <link href="css/login.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://www.google.com/recaptcha/api.js"></script>

	





</head>

<body>

  <!-- whole body -->
  
  
  <!-- sidebar-wrapper  -->
  <div class="login-bg-new">
  	<div class="container">
  		
  	<div class="row">
  	
  	<section class="testimonial py-5" id="testimonial">
    <div class="container">
        <div class="row  registration-block">
            <div class="col-md-4 py-5 bg-primary text-white text-center  blue-bg ">
                <div class=" ">
                    <div class="card-body">
                        <img src="http://www.ansonika.com/mavia/img/registration_bg.svg" style="width:30%">
                        <h2 class="py-3">Login</h2>
                        <p>Tation argumentum et usu, dicit viderer evertitur te has. Eu dictas concludaturque usu, facete detracto patrioque an per, lucilius pertinacia eu vel.

</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 ">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="student-reg">
                    <div class="stu-heading">
                      <h4 class="pb-4 heading-font">Login Form</h4>
                    </div>
                    <div class="container">
                      <div class="row">
                        
                        
                          <!--Social Login Start-->
                         <!-- <h3>Please Log In, or <a href="#">Sign Up</a></h3>
                          <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                              <a href="#" class="btn btn-lg btn-primary btn-block">Facebook</a>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                              <a href="#" class="btn btn-lg btn-info btn-block">Google</a>
                            </div>
                          </div>-->
                          
                          <!--<div class="login-or">
                            <hr class="hr-or">
                            <span class="span-or">or</span>
                          </div>-->
                          
                           <!--Social Login end-->
                          
                          <form class="login-alig">
                    
                    <!--<div class="form-content">
                      <div class="row">
                        <div class="form-group">
                          <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                              <input type="text" class="form-control" placeholder="First Name *" value=""/>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                              <input type="text" class="form-control" placeholder="Surname *" value=""/>
                              </div>
                          </div>
                          </div>
                        
                        
                      </div>
                      <button type="button" class="btnSubmit">Login</button>
                    </div>-->
                    
                    
                    
                    
                    <div id="logreg-forms">
        <form class="form-signin">
            <!--<h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
            <div class="social-login">
                <button class="btn facebook-btn social-btn" type="button"><span><i class="fa fa-facebook-f"></i> Sign in with Facebook</span> </button>
                <button class="btn google-btn social-btn" type="button"><span><i class="fa fa-google-plus-g"></i> Sign in with Google+</span> </button>
            </div>
            <p style="text-align:center"> OR  </p>-->
            <input type="email" id="inputEmail" class="form-control form-control2" placeholder="Email address" required="" autofocus>
            <input type="password" id="inputPassword" class="form-control form-control2 " placeholder="Password" required="">
            
            <button class="btn btn-success btn-block" type="submit"><i class="fa fa-sign-in-alt"></i> Sign in</button>
            <a href="#" id="forgot_pswd">Forgot password?</a> 
            <!--<hr>-->
            <!-- <p>Don't have an account!</p>  -->
            <!--<button class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fa fa-user-plus"></i> Sign up New Account</button>-->
            </form>

            <form action="/reset/password/" class="form-reset">
                <input type="email" id="resetEmail" class="form-control" placeholder="Email address" required="" autofocus>
                <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
                <a href="#" id="cancel_reset"><i class="fa fa-angle-left"></i> Back</a>
            </form>
            
            <form action="/signup/" class="form-signup">
                <div class="social-login">
                    <button class="btn facebook-btn social-btn" type="button"><span><i class="fa fa-facebook-f"></i> Sign up with Facebook</span> </button>
                </div>
                <div class="social-login">
                    <button class="btn google-btn social-btn" type="button"><span><i class="fa fa-google-plus-g"></i> Sign up with Google+</span> </button>
                </div>
                
                <p style="text-align:center">OR</p>

                <input type="text" id="user-name" class="form-control" placeholder="Full name" required="" autofocus>
                <input type="email" id="user-email" class="form-control" placeholder="Email address" required autofocus>
                <input type="password" id="user-pass" class="form-control" placeholder="Password" required autofocus>
                <input type="password" id="user-repeatpass" class="form-control" placeholder="Repeat Password" required autofocus>

                <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Sign Up</button>
                <a href="#" id="cancel_signup"><i class="fa fa-angle-left"></i> Back</a>
            </form>
            <br>
            
    </div>
                    
                    
                    
                    </form>
                          
                       
                        
                      </div>
  </div>
                  </div>
                </div>
  		
  	          </div>	
  	</div>
  	
  </div>
		</div>
		</section>
		</div>
		</div>
	  </div>
  <!-- page-content" -->

   

  <!-- Bootstrap core JavaScript -->
  <script src="js/bootstrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="js/validator.js"></script>
  <script src="js/contact.js"></script>
  
 
	
	
	
	
	

	

  
</body>

</html>
