<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>:: Education ::</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">

   <link href="css/login.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://www.google.com/recaptcha/api.js"></script>

	





</head>

<body>

  <!-- whole body -->
  
  
  <!-- sidebar-wrapper  -->
  <div class="registration-bg">
  	<div class="container">
  		
  	<div class="row">
  	
  	<section class="testimonial py-5" id="testimonial">
    <div class="container">
        <div class="row  registration-block">
            <div class="col-md-4 py-5 bg-primary text-white text-center  blue-bg ">
                <div class=" ">
                    <div class="card-body">
                        <img src="http://www.ansonika.com/mavia/img/registration_bg.svg" style="width:30%">
                        <h2 class="py-3">Registration</h2>
                        <p>Tation argumentum et usu, dicit viderer evertitur te has. Eu dictas concludaturque usu, facete detracto patrioque an per, lucilius pertinacia eu vel.

</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 ">
              <div class="row">
                <div class="student-reg">
                  <div class="stu-heading">
                    <h4 class="pb-4 heading-font">Students Registration Form</h4>
                  </div>
                  <form>
                    
                    <div class="form-content">
                      <div class="row">
                        <div class="form-group">
                          <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                              <input type="text" class="form-control" placeholder="First Name *" value=""/>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                              <input type="text" class="form-control" placeholder="Surname *" value=""/>
                              </div>
                          </div>
                          </div>
                        <div class="form-group">
                          <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
                              <label class="labeltext radioreg">Gender</label><br>
                              <div class="form-check-inline">
                                
                                <label class="customradio"><span class="radiotextsty">Male</span>
                                  <input type="radio" checked="checked" name="radio">
                                  <span class="checkmark"></span>
                                </label>        
                                <label class="customradio"><span class="radiotextsty">Female</span>
                                  <input type="radio" name="radio">
                                  <span class="checkmark"></span>
                                </label>
                                
                              </div>
                            </div>
                            
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                              
                              <select type="text" class="form-control select-gap" placeholder="Surname *" value="">
                                <option>Please Select...</option>
                                <option>X</option>
                                <option>XI</option>
                                <option>XII</option>
                                <option>B.COM</option>
                                <option>BCA</option>
                               </select>
                              </div>
                            
                          </div>
                          </div>
                        
                        
                        
                        <div class="form-group">
                          <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                              <input type="text" class="form-control" placeholder="Username *" value=""/>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                              <input type="password" class="form-control" placeholder="Password *" value=""/>
                              </div>
                          </div>
                          </div>
                        
                        <div class="form-group">
                          <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                              <input type="text" class="form-control" placeholder="School Name(optional) " value=""/>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                              <input type="password" class="form-control" placeholder="District (optional)" value=""/>
                              </div>
                          </div>
                          </div>
                        
                        <div class="captcha">
                          <div class="spinner">
                            <label>
                              <input type="checkbox" onclick="$(this).attr('disabled','disabled');">
                              <span class="checkmark"><span>&nbsp;</span></span>
                            </label>
                          </div>
                          <div class="text">
                            I'm not a robot
                          </div>
                          <div class="logo">
                            <img src="https://forum.nox.tv/core/index.php?media/9-recaptcha-png/"/>
                            <p>reCAPTCHA</p>
                            <small>Privacy - Terms</small>
                          </div>
  </div>
                      </div>
                      <button type="button" class="btnSubmit">Submit</button>
                    </div>
                    
                    
                    
                    </form>
                </div>
                
                
                
                <div class="student-reg">
                  <div class="stu-heading">
                    <h4 class="pb-4 heading-font">Parents Registration Form</h4>
                  </div>
                  <form>
                    
                    <div class="form-content">
                      <div class="row">
                        <div class="form-group">
                          <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                              <input type="text" class="form-control" placeholder="First Name *" value=""/>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                              <input type="text" class="form-control" placeholder="Surname *" value=""/>
                              </div>
                          </div>
                          </div>
                        <div class="form-group">
                          <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group">
                              <label class="labeltext radioreg">Gender</label><br>
                              <div class="form-check-inline2">
                                
                                <label class="customradio"><span class="radiotextsty">Male</span>
                                  <input type="radio" checked="checked" name="radio">
                                  <span class="checkmark"></span>
                                </label>        
                                <label class="customradio"><span class="radiotextsty">Female</span>
                                  <input type="radio" name="radio">
                                  <span class="checkmark"></span>
                                </label>
                                
                              </div>
                            </div>
                            
                            
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                              
                              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                              <input type="text" class="form-control" placeholder="Phone Number (Optional)" value=""/>
                              </div>
                              </div>
                            
                          </div>
                          </div>
                        
                        
                        
                        <div class="form-group">
                          <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                              <input type="text" class="form-control" placeholder="Email (Login Username) *" value=""/>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                              <input type="password" class="form-control" placeholder="Password *" value=""/>
                              </div>
                          </div>
                          </div>
                        
                        <div class="form-group">
                          <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                              <textarea type="text" class="form-control" placeholder="How You Hear Us (optional) " value=""></textarea>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                              
                              </div>
                          </div>
                          </div>
                          
                          <div class="form-group">
                          <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                              <input type="text" class="form-control" placeholder="Email (Login Username) *" value=""/>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                              <input type="password" class="form-control" placeholder="Password *" value=""/>
                              </div>
                          </div>
                          </div>
                          
                          
                          <div class="form-group">
                          <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                              <input type="text" class="form-control" placeholder="Phone Number(optional)" value=""/>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                              <input type="text" class="form-control" placeholder="District (optional)" value=""/>
                              </div>
                          </div>
                          </div>
                        
                        <div class="captcha">
                          <div class="spinner">
                            <label>
                              <input type="checkbox" onclick="$(this).attr('disabled','disabled');">
                              <span class="checkmark"><span>&nbsp;</span></span>
                            </label>
                          </div>
                          <div class="text">
                            I'm not a robot
                          </div>
                          <div class="logo">
                            <img src="https://forum.nox.tv/core/index.php?media/9-recaptcha-png/"/>
                            <p>reCAPTCHA</p>
                            <small>Privacy - Terms</small>
                          </div>
  </div>
                      </div>
                      <button type="button" class="btnSubmit">Submit</button>
                    </div>
                    
                    
                    
                    </form>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
  		
  	</div>	
  	</div>
  	
  </div>
  <!-- page-content" -->

   

  <!-- Bootstrap core JavaScript -->
  <script src="js/bootstrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="js/validator.js"></script>
  <script src="js/contact.js"></script>
  
 
	
	
	
	
	

	

  
</body>

</html>
